# IPL Win Predictor >>>

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [3]:
# loading datasets into jupyter notebook..

match = pd.read_csv("IPL_Matches_2008_2022.csv")
print(match.shape)
delivery = pd.read_csv("IPL_Ball_by_Ball_2008_2022.csv")
print(delivery.shape)

(950, 20)
(225954, 17)

In [4]:
match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [5]:
delivery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int64(9), object(8)
memory usage: 29.3+ MB

In [6]:
# show the first 5 records.
match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [7]:
match['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [8]:
match['Team2'].unique()

array(['Gujarat Titans', 'Rajasthan Royals', 'Lucknow Super Giants',
       'Punjab Kings', 'Mumbai Indians', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Chennai Super Kings', 'Kings XI Punjab', 'Delhi Daredevils',
       'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [9]:
match['TossWinner'].unique()

array(['Rajasthan Royals', 'Lucknow Super Giants', 'Gujarat Titans',
       'Sunrisers Hyderabad', 'Mumbai Indians', 'Chennai Super Kings',
       'Punjab Kings', 'Kolkata Knight Riders',
       'Royal Challengers Bangalore', 'Delhi Capitals', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [10]:
match['WinningTeam'].unique()

array(['Gujarat Titans', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Punjab Kings', 'Mumbai Indians',
       'Lucknow Super Giants', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Chennai Super Kings', 'Kings XI Punjab',
       nan, 'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

# Data Preprocessing and Transformation

In [11]:
# replacing the old names to latest names

match = match.replace('Delhi Daredevils','Delhi Capitals')

match = match.replace('Rising Pune Supergiant','Lucknow Super Giants')
match = match.replace('Rising Pune Supergiants','Lucknow Super Giants')
match = match.replace('Kochi Tuskers Kerala','Lucknow Super Giants')

match = match.replace('Pune Warriors','Gujarat Titans')
match = match.replace('Gujarat Lions','Gujarat Titans')

match = match.replace('Kings XI Punjab','Punjab Kings')

match = match.replace('Deccan Chargers','Sunrisers Hyderabad')
match = match.replace('Gujarat Lions','Gujarat Titans')

In [12]:
match['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur', 'Indore',
       'Bangalore', 'Kanpur', 'Rajkot', 'Raipur', 'Ranchi', 'Cuttack',
       'Dharamsala', 'Kochi', 'Nagpur', 'Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'], dtype=object)

In [13]:
match = match.replace('Bangalore','Bengaluru')
match = match.replace('Visakhapatnam','Bengaluru')


match = match.replace('Indore','Lucknow')
match = match.replace('Kochi','Lucknow')
match = match.replace('Kanpur','Lucknow')
match = match.replace('Nagpur','Lucknow')


match = match.replace('Pune','Ahemdabad')
match = match.replace('Rajkot','Ahemdabad')


match = match.replace('Cuttack','Chennai')
match = match.replace('Ranchi','Chennai')
match = match.replace('Raipur','Chennai')


match = match.replace('Dharamsala','Chandigarh')

match = match.replace('Navi Mumbai','Mumbai')

In [14]:
match['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Ahemdabad', 'Dubai', 'Sharjah',
       'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad', 'Bengaluru',
       'Chandigarh', 'Jaipur', 'Lucknow', 'Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'], dtype=object)

In [15]:
delivery.head(3)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [16]:
delivery['BattingTeam'].unique()

array(['Rajasthan Royals', 'Gujarat Titans',
       'Royal Challengers Bangalore', 'Lucknow Super Giants',
       'Sunrisers Hyderabad', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Chennai Super Kings', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Delhi Daredevils', 'Rising Pune Supergiant',
       'Gujarat Lions', 'Rising Pune Supergiants', 'Pune Warriors',
       'Deccan Chargers', 'Kochi Tuskers Kerala'], dtype=object)

In [17]:
delivery = delivery.replace('Delhi Daredevils','Delhi Capitals')

delivery = delivery.replace('Rising Pune Supergiant','Lucknow Super Giants')
delivery = delivery.replace('Rising Pune Supergiants','Lucknow Super Giants')
delivery = delivery.replace('Kochi Tuskers Kerala','Lucknow Super Giants')

delivery = delivery.replace('Pune Warriors','Gujarat Titans')
delivery = delivery.replace('Gujarat Lions','Gujarat Titans')

delivery = delivery.replace('Kings XI Punjab','Punjab Kings')

delivery = delivery.replace('Deccan Chargers','Sunrisers Hyderabad')
delivery = delivery.replace('Gujarat Lions','Gujarat Titans')

In [18]:
delivery['BattingTeam'].unique()

array(['Rajasthan Royals', 'Gujarat Titans',
       'Royal Challengers Bangalore', 'Lucknow Super Giants',
       'Sunrisers Hyderabad', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Chennai Super Kings', 'Kolkata Knight Riders'],
      dtype=object)

In [19]:
match.shape

(950, 20)

In [20]:
delivery.shape

(225954, 17)

In [21]:
totalScoreDF = delivery.groupby(['ID', 'innings']).sum()['total_run'].reset_index()

In [22]:
totalScoreDF

           ID  innings  total_run
0      335982        1        222
1      335982        2         82
2      335983        1        240
3      335983        2        207
4      335984        1        129
...       ...      ...        ...
1923  1312198        2        193
1924  1312199        1        157
1925  1312199        2        161
1926  1312200        1        130
1927  1312200        2        133

[1928 rows x 3 columns]

In [23]:
# select only first inning data
totalScoreDF = totalScoreDF[totalScoreDF["innings"] == 1]
totalScoreDF

           ID  innings  total_run
0      335982        1        222
2      335983        1        240
4      335984        1        129
6      335985        1        165
8      335986        1        110
...       ...      ...        ...
1918  1304116        1        157
1920  1312197        1        188
1922  1312198        1        207
1924  1312199        1        157
1926  1312200        1        130

[950 rows x 3 columns]

In [24]:
matchDF = match.merge(totalScoreDF[['ID', 'total_run']], left_on = 'ID',right_on = 'ID')
matchDF.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,188
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,157

In [25]:
matchDF.shape

(950, 21)

In [26]:
matchDF.head(3)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207

In [27]:
matchDF.shape

(950, 21)

In [28]:
matchDF['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Ahemdabad', 'Dubai', 'Sharjah',
       'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad', 'Bengaluru',
       'Chandigarh', 'Jaipur', 'Lucknow', 'Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'], dtype=object)

In [29]:
# removes matches where result not found due to rain or any other conditions.

matchDF = matchDF[matchDF.method != 'D/L']

In [30]:
# keeps only requried columns for model building

matchDF = matchDF[['ID','City','WinningTeam','total_run', 'Team1', 'Team2']]

In [31]:
deliveryDF = matchDF.merge(delivery, on = "ID")

In [32]:
# Select only second innings data

deliveryDF = deliveryDF[deliveryDF['innings'] == 2]
deliveryDF.head()

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,extra_type,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
120,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,1,WP Saha,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
121,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,2,WP Saha,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
122,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,3,WP Saha,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
123,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,4,Shubman Gill,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
124,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,5,Shubman Gill,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans

In [33]:
deliveryDF['total_run_y'] = pd.to_numeric(deliveryDF['total_run_y'], errors='coerce')
deliveryDF.columns

Index(['ID', 'City', 'WinningTeam', 'total_run_x', 'Team1', 'Team2', 'innings',
       'overs', 'ballnumber', 'batter', 'bowler', 'non-striker', 'extra_type',
       'batsman_run', 'extras_run', 'total_run_y', 'non_boundary',
       'isWicketDelivery', 'player_out', 'kind', 'fielders_involved',
       'BattingTeam'],
      dtype='object')

### Creating New columns...

In [34]:
deliveryDF['current_score'] = deliveryDF.groupby('ID')['total_run_y'].cumsum()

In [35]:
deliveryDF['runs_left'] = deliveryDF['total_run_x'] - deliveryDF['current_score']

In [36]:
deliveryDF['balls_left'] = 120 - (deliveryDF['overs']*6 + deliveryDF['ballnumber'])

In [37]:
deliveryDF['isWicketDelivery'] = pd.to_numeric(deliveryDF['isWicketDelivery'], errors='coerce')
deliveryDF['wickets_left'] = 10 - deliveryDF.groupby('ID')['isWicketDelivery'].cumsum()

In [38]:
#crr and rrr

In [39]:
deliveryDF['crr'] = (deliveryDF['current_score']*6) / (120 - deliveryDF['balls_left'])

In [40]:
deliveryDF['rrr'] = (deliveryDF['runs_left']*6) / deliveryDF['balls_left']

In [41]:
#results in 0 & 1

In [42]:
# converting testing column(winningTeam) into binary values(0/1).

def result(row):
    return 1 if row['BattingTeam'] == row['WinningTeam'] else 0

In [43]:
deliveryDF['results'] = deliveryDF.apply(result, axis = 1)

In [44]:
deliveryDF.head(3)

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left,wickets_left,crr,rrr,results
120,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,1,WP Saha,...,NaN,NaN,Gujarat Titans,0,130,119,10,0.0,6.554622,1
121,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,2,WP Saha,...,NaN,NaN,Gujarat Titans,0,130,118,10,0.0,6.610169,1
122,1312200,Ahmedabad,Gujarat Titans,130,Rajasthan Royals,Gujarat Titans,2,0,3,WP Saha,...,NaN,NaN,Gujarat Titans,1,129,117,10,2.0,6.615385,1

In [45]:
#removed balls left as 0, -1, -2, -3
deliveryDF = deliveryDF[deliveryDF.balls_left != 0]
deliveryDF = deliveryDF[deliveryDF.balls_left != -1]
deliveryDF = deliveryDF[deliveryDF.balls_left != -2]
deliveryDF = deliveryDF[deliveryDF.balls_left != -3]

In [46]:
finalDF = deliveryDF[['BattingTeam','Team1', 'Team2', 'City',
            'runs_left', 'balls_left','wickets_left',
            'total_run_x','crr','rrr','results']]
finalDF.head(3)

,BattingTeam,Team1,Team2,City,runs_left,balls_left,wickets_left,total_run_x,crr,rrr,results
120,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Ahmedabad,130,119,10,130,0.0,6.554622,1
121,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Ahmedabad,130,118,10,130,0.0,6.610169,1
122,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Ahmedabad,129,117,10,130,2.0,6.615385,1

In [47]:
def BowlingTeamFind(row):
    if row['Team1'] == row['BattingTeam']:
        row['BowlingTeam'] = row['Team2']
        return row['BowlingTeam']
    else:
        row['BowlingTeam'] = row['Team1']
        return row['BowlingTeam']

In [48]:
finalDF['BowlingTeam'] = finalDF.apply(BowlingTeamFind, axis = 1)

C:\Users\Shreeji\AppData\Local\Temp\ipykernel_2476\857192546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalDF['BowlingTeam'] = finalDF.apply(BowlingTeamFind, axis = 1)

In [49]:
finalDF['BowlingTeam'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians'], dtype=object)

In [50]:
teams = [
    'Chennai Super Kings',
    'Delhi Capitals',
    'Royal Challengers Bangalore',
    'Mumbai Indians',
    'Kolkata Knight Riders',
    'Rajasthan Royals',
    'Sunrisers Hyderabad',
    'Punjab Kings',
    'Gujarat Titans',
    'Lucknow Super Giants']
finalDF = finalDF[finalDF['BowlingTeam'].isin(teams)]

In [51]:
finalDF['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Ahemdabad', 'Dubai', 'Sharjah',
       'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad', 'Bengaluru',
       'Chandigarh', 'Jaipur', 'Lucknow', 'Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'], dtype=object)

In [52]:
finalDF = finalDF[['BattingTeam','BowlingTeam','City',
            'runs_left', 'balls_left','wickets_left',
            'total_run_x','crr','rrr','results']]

In [53]:
finalDF = finalDF.sample(finalDF.shape[0])

In [54]:
finalDF.head()

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets_left,total_run_x,crr,rrr,results
52849,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata,198,106,9,213,6.428571,11.207547,0
202759,Rajasthan Royals,Royal Challengers Bangalore,Centurion,41,59,8,105,6.295082,4.169492,1
166385,Chennai Super Kings,Royal Challengers Bangalore,Mumbai,155,91,8,175,4.137931,10.219780,1
219618,Punjab Kings,Delhi Capitals,Chandigarh,103,83,8,158,8.918919,7.445783,1
222731,Royal Challengers Bangalore,Kolkata Knight Riders,Bengaluru,152,41,1,222,5.316456,22.243902,0

In [55]:
finalDF.dropna(inplace = True)

In [56]:
finalDF.shape

(101293, 10)

## Model Building....

In [57]:
X = finalDF.iloc[:,:-1]
y = finalDF.iloc[:,-1]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 1)

In [58]:
#converting string into usable format using onehotencoding

In [59]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder


trf = ColumnTransformer([('trf', OneHotEncoder(sparse_output = False, drop = 'first'),
                          ['BattingTeam','BowlingTeam','City'])],
                        remainder = 'passthrough')

In [69]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
#Helps combine multiple steps into one flow

In [61]:
pipe = Pipeline(steps = [('step1', trf), ('step2', LogisticRegression(solver = 'liblinear'))])

In [63]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['BattingTeam', 'BowlingTeam',
                                                   'City'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [64]:
#pipe2.fit(X_train,y_train)

In [65]:
y_pred = pipe.predict(X_test)

In [67]:
from sklearn.metrics import accuracy_score

In [68]:
print("Logistic Regression")
print(accuracy_score(y_test,y_pred))

Logistic Regression
0.799249716175527

In [70]:
# saving the file for later use..

import pickle
pickle.dump(pipe, open('pipe.pkl','wb'))